@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply relative w-full h-full scroll-smooth;
  }

  body {
    @apply relative w-full h-full m-0 p-0 box-border;
    font-family: 'OCR A Extended', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  h2 {
    @apply text-3xl text-black uppercase flex justify-center items-start text-center mb-4 !important;
  }

  h2:before {
    @apply bg-black h-[2px] mr-4 mt-3 content-[''];
    flex: 1;
  }

  h2:after {
    @apply bg-black h-[2px] ml-4 mt-3 content-[''];
    flex: 1;
  }

  .mlkln-album {
    @apply flex flex-wrap;
  }

  .mlkln-album-card {
    @apply w-full md:w-1/3 xl:w-1/4 p-6;
  }

  .mlkln-album-card > figure > img {
    transition: all 0.3s;
    transform: scale(1);
  }
  .mlkln-album-card > figure > img:hover {
    @apply shadow-lg shadow-gray-400;
    transform: scale(1.02);
  }
  .mlkln-album-card-content {
    @apply mt-3;
  }

  .mlkln3-buy-button button {
    @apply mt-3 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
  }

  .lt-album {
    @apply flex flex-wrap;
  }

  .lt-album-card {
    @apply w-full md:w-1/3 xl:w-1/4 p-6;
  }

  .lt-album-card img {
    @apply cursor-pointer;
  }

  .lt-album-card > figure > img {
    @apply cursor-pointer aspect-square object-contain;
    transition: all 0.3s;
    transform: scale(1);
  }

  .lt-album-card > figure > img:hover {
    @apply shadow-lg shadow-gray-400;
    transform: scale(1.02);
  }

  .lt-album-card > figure.selected {
    @apply flex fixed w-full h-full top-0 bottom-0 left-0 right-0 z-[9999];
  }

  .lt-album-card > figure.selected > img {
    @apply w-full bg-white;
  }

  .lt-album-card-content {
    @apply mt-3;
  }

  .lt-album-card-price-and-amount {
    @apply flex justify-between;
  }

  .lt-album-card-price::after {
    content: ' Matics';
  }

  .lt-buy-button button,
  .lt-network-button,
  .mlkln3-metamask,
  .lt-buy-button-btn {
    @apply mt-3 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
  }

  #t-shirt-clicker {
    @apply bg-white p-0 m-0;
  }

  .mlkln3-no-access-passports {
    @apply flex gap-12;
  }

  .mlkln3-no-access-passport {
    @apply w-1/5;
  }

  .lt-content > iframe {
    @apply w-full md:h-[400px] h-[700px];
  }

  .t-shirt.selected {
    @apply border-4 border-green-500;
  }

  a {
    @apply no-underline;
  }

  .particles-wrapper {
    @apply bg-white w-full h-full p-0 m-0 overflow-hidden;
  }

  .logo {
    @apply w-[200px];
  }

  .clicker-content {
    @apply hidden;
  }

  .clicker:focus+.clicker-content {
    @apply block;
  }
}

.flip {
  perspective: 600px;
}

.flip-content {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}

.flip-front {
  object-fit: cover;
}

.flip-front,
.flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

.gallery-wrap {
  position: relative;
  height: 700px;
  overflow: hidden;
}

.gallery-wrap.expanded {
  height: auto;
}

.gallery-wrap .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}